<% include ../headfoot/header %>

<div class="ui segment text  container">
	<div class="ui large header">Edit- "<%=article.title%>"</div>

<hr>
	<form action="/articles/<%=article._id%>?_method=PUT" method="POST" class="ui form">

<div class="field">

   	 <label>Title</label>
     <input type="text" name="body[title]" value="<%=article.title%>" required  autofocus>
</div>

<div class="field">
     <label>Image URL</label>
     <input type="text" name="body[image]" value="<%=article.image%>" required>
</div> 

<div class="field">
     <label>User Text</label>
     <textarea name="body[desc]" required><%=article.desc%></textarea>
</div>

     <button class="ui primary button">Update</button>
  
  </div>	


</form>

</div>

<% include ../headfoot/footer %>